/* HEADER */
.header-square-eyes {
    display: flex;
    padding: 22px 1rem;
    background-color: #353535;
}

.logo-and-nav-links {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.nav-text, .fa-cart-shopping {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-text, .header-account-desktop, .shopping-cart-desktop {
    cursor: pointer;
}

.nav-text:hover, .header-account-desktop:hover, .cart-text:hover {
    color: var(--secondary)
}

.my-account-desktop, .nav-links {
    font-size: 1rem;
    font-weight: 300;
}

.my-account-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-account-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.nav-links, .dropdown-btn, .my-account-desktop {
    font-size: 20px;
}

.header-square-eyes {
    padding-left: 24px;
    padding-right: 24px;
}

#cart-dropdown {
    display: none;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 76px;
    width: 500px;
    min-height: 600px;
    padding: 0 2rem;
    background-color: #FFFFFF;
    border-radius: 0 0 0 1rem;
    box-shadow: 2px -2px 20px 4px #1C1C1C;
}

.cart-text {
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    margin-left: 8px;
}

.cart-dropdown-text {
    color: #131313;
}

#movie-info {
    display: flex;
    color: #131313;
    margin-bottom: 1rem;
}

.movie-data {
    display: flex;
    gap: 2rem
}

#movie-div-cart {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.title-and-price-movie-cart {
    display: flex;
    flex-direction: column;
}

.proceed-to-checkout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    height: 64px;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    border: none;
    cursor: pointer;
    background-color: #FFD568;
    margin-top: 2rem;
}

.proceed-to-checkout-btn:hover {
    background-color: #FFE194;
}

#cart-close-btn {
    border: none;
    right: 2rem;
    top: 2rem;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    background: #FFE194;
    height: 35px;
    width: 35px;
}

#cart-close-btn:hover {
    background-color: #FFD568;
}

.movie-title {
    font-weight: 400;
}

.movie-title, .movie-price {
    margin-left: 1rem;
}

.movie-div-cart {
    display: flex;
    color: #131313;
}

.movie-cover-cart {
    width: 160px;
    height: 224px;
    border-radius: 0.5rem;
}

.trash-remove-btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    background: #FFE194;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
}

.trash-remove-btn-cart:hover {
    background-color: #FFD568;
}

.fa-trash {
    pointer-events: none;
}


.sum-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.sum {
    color: #131313;
    font-weight: 400;
}

#sumTotal {
    color: #131313;
}

.div-cart-title {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: space-between;
}

.line-divider-cart {
    height: 2px;
    width: 100%;
    margin-top: 1rem;
    background-color: #FFD568;
}

.text-cart-title {
    font-weight: 400;
}

#empty-cart-text {
    color: #131313;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 2rem;
}

#div-wrapper-products-cart {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#cart-button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 4px;
}

.line-divider-header {
    background-color: var(--secondary);
    width: 1px;
    height: 18px;
}

.text-close-btn {
    font-size: 20px;
    margin-left: .5rem;
}

/* FOOTER */
.list {
    list-style: none;
}

.footer-homepage {
    padding: 0 5%;
}

.list-social-media {
    display: flex;
    gap: 54px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 52px;
}

.icon-facebook, .icon-twitter, .icon-insta {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.list-footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 82px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
}

.list-footer-text a {
    text-decoration: none;
    color: #FFFFFF;
}

.list-footer-text a:hover {
    color: #FFD568;
}

.footer-bottom {
    display: flex;
    align-items: center;
    padding: 68px 0;
    justify-content: center;
}

.copyright {
    font-size: 14px;
    color: #C2C2C2;
}

footer {
    background-color: #1C1C1C;
    padding-top: 68px;
}

@media (min-width: 430px) {

    .header-square-eyes {
        justify-content: space-between;
        letter-spacing: 1px;
    }

    .logo {
        width: 138px;
        height: auto;
    }

    .header-account-burger-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .list-social-media {
        justify-content: center;
        align-content: center;
        padding: 82px 0;
    }
}

@media (min-width: 470px) {
    .logo {
        width: 160px;
        height: auto;
    }
}

@media (min-width: 768px) {
    .footer-logo-and-social-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        padding-bottom: 68px;
        padding-top: 68px;
    }

    .list-social-media {
        margin: 0;
        padding: 0;
    }

    .footer-logo {
        margin: 0;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
    }

    .list-footer-text {
        flex-direction: row;
        justify-content: space-between;
    }

    .list-footer-text {
        margin-bottom: 42px;
    }
}

@media (min-width: 1024px) {
    .line-divider-header {
        display: block;
    }

    .cart-text {
        margin-left: 6px;
    }
}
