/* HEADER */

.header-square-eyes {
    display: flex;
    padding: 22px 1rem;
    background-color: #353535;
}

.line-divider-header {
    background-color: var(--secondary);
    width: 1px;
    height: 18px;
}

.dropdown-btn {
    color: white;
    padding-bottom: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-btn:hover {
    color: var(--secondary);
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-content a:hover {
    background-color: #FFE194;
    border-radius: 4px;
    color: black;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

#cart-dropdown-mobile {
    display: none;
    position: absolute;
    z-index: 20;
    top: 76px;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    color: #131313;
}

#cart-button-mobile {
    cursor: pointer;
    border-style: none;
    color: #FFFFFF;
    background: none;
}

#close-btn-mobile {
    cursor: pointer;
    border: none;
    position: absolute;
    right: 2rem;
    top: 2rem;
    background: none;
    display: flex;
    align-items: center;
}

.text-close-btn {
    font-size: 20px;
    margin-left: .5rem;
}


/* FOOTER */

.list {
    list-style: none;
}

.footer-homepage {
    padding: 0 5%;
}

.list-social-media {
    display: flex;
    gap: 54px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 52px;
}

.icon-facebook, .icon-twitter, .icon-insta {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.list-footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 82px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
}

.list-footer-text a {
    text-decoration: none;
    color: #FFFFFF;
}

.list-footer-text a:hover {
    color: #FFD568;
}

.footer-bottom {
    display: flex;
    align-items: center;
    padding: 68px 0;
    justify-content: center;
}

.copyright {
    font-size: 14px;
    color: #C2C2C2;
}

.language-selection {
    display: flex;
    margin-left: 44px;
}

.icon-globe {
    height: 38px;
    width: 38px;
}

.language-selection-english {
    width: 97px;
    height: 38px;
    border: 2px solid #353535;
    color: #BABABA;
    background-color: rgba(40, 40, 40, 80);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    font-size: 20px;
    font-weight: 300;
}

footer {
    background-color: #1C1C1C;
    padding-top: 68px;
}

.line-divider {
    background-color: #666666;
    height: 1px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Extra Extra Small (xxs) */
@media (min-width: 430px) {

    .header-square-eyes {
        justify-content: space-between;
        letter-spacing: 1px;
    }

    .logo {
        width: 138px;
        height: auto;
    }

    .my-account-desktop, .nav-links {
        display: none;
    }

    .header-account-burger-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .dropdown-menu-mobile {
        position: relative;
        display: inline-block;
    }

    .dropdown-btn-mobile {
        cursor: pointer;
    }

    .dropdown-content-mobile {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 0;
        top: 18px;
        border-radius: 4px;
    }

    .dropdown-content-mobile a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
    }

    .dropdown-content-mobile a:hover {
        background-color: #FFE194;
        border-radius: 4px;
    }

    .dropdown-menu-mobile:hover .dropdown-content-mobile {
        display: block;
    }


    .list-social-media {
        justify-content: center;
        align-content: center;
        padding: 82px 0;
    }
}

/* Extra Small (xs) */
@media (min-width: 470px) {
    .logo {
        width: 160px;
        height: auto;
    }
}

/* Small (sm) */
@media (min-width: 640px) {
}

/* Medium (md) */
@media (min-width: 768px) {
    .footer-logo-and-social-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        padding-bottom: 68px;
        padding-top: 68px;
    }

    .list-social-media {
        margin: 0;
        padding: 0;
    }

    .footer-logo {
        margin: 0;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
    }

    .list-footer-text {
        flex-direction: row;
        justify-content: space-between;
    }

    .list-footer-text {
        margin-bottom: 42px;
    }

}

/* Large (lg) */
@media (min-width: 1024px) {
    .header-account-burger-mobile {
        display: none;
    }

    .cart-text {
        margin-left: 6px;
    }

    #cart-button-desktop {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .cart-text {
        font-size: 20px;
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
    }

    #cart-dropdown-desktop {
        display: none;
        position: absolute;
        z-index: 100;
        right: 0;
        top: 76px;
        width: 50vw;
        height: 100vh;
        background-color: #FFFFFF;
    }

    #close-btn-desktop {
        cursor: pointer;
        border: none;
        position: absolute;
        right: 2rem;
        top: 2rem;
        background: none;
        display: flex;
        align-items: center;
    }

    .my-account-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .logo-and-nav-links {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 20px;
    }

    .nav-text, .fa-cart-shopping {
        text-decoration: none;
        color: #FFFFFF;
    }

    .nav-text, .header-account-desktop, .shopping-cart-desktop {
        cursor: pointer;
    }

    .nav-text:hover, .header-account-desktop:hover, .cart-text:hover {
        color: var(--secondary)
    }

    .my-account-desktop, .nav-links {
        font-size: 1rem;
        font-weight: 300;
    }

    .header-account-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .nav-links, .dropdown-btn, .my-account-desktop {
        font-size: 20px;
    }

    .header-square-eyes {
        padding-left: 24px;
        padding-right: 24px;
    }

}
