.line-divider {
    background-color: #FFD568;
    width: 1px;
    height: 18px;
}

.main-movie-page {
    margin: 0 16px;
}

.movie-section {
    display: flex;
    flex-direction: column;
    margin: 72px 18px 42px 18px;
}

.movie-info-text {
    display: flex;
    flex-direction: column;
    margin: 4rem 22px;
}

#movie-description {
    font-weight: 300;
    margin-bottom: 1rem;
    line-height: 2;
}

.movie-page-bg-img {
    height: 500px;
    width: 100%;
    z-index: -10;
    position: absolute;
    top: 76px;
}

#movie-cover-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
}

.layer-blur-movie-page {
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(360deg, rgba(19, 19, 19), rgba(75, 75, 75, 30%));
    position: absolute;
}

#img-cover-mobile {
    width: 116px;
    height: auto;
    border-radius: 8px;
    position: absolute;
    right: 16px;
    top: 156px;
}

#img-cover-desktop {
    display: none;
}

.movie-details {
    display: flex;
    align-items: center;
    gap: 18px;
    padding-top: 22px;
    padding-bottom: 28px;
    font-weight: 300;
}

.imbd-rating {
    display: flex;
    align-items: center;
    gap: 12px;
}

.movie-description {
    font-weight: 200;
    line-height: 180%;
    margin-bottom: 42px;
}

#movie-page-carousel-heading {
    font-size: 18px;
    font-weight: 300;
}

.movie-page-carousel {
    padding-bottom: 62px;
}

#movie-heading {
    font-size: 26px;
    font-weight: 400;
    margin-top: 162px;
    width: 284px;
}

.buttons-action-moviepage-mobile, .buttons-action-moviepage-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons-action-moviepage-desktop span {
    font-weight: 300;
    color: #FFE194;
}

#button-buy, #button-watchlist {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    height: 64px;
    font-size: 24px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

#button-buy {
    background-color: var(--secondary);
}

#button-buy:hover, #button-watchlist:hover {
    background-color: #FFD568;
}

#button-watchlist {
    background-color: #FFE194;
}

@media (min-width: 640px) {
    .movie-section {
        margin-bottom: 4rem;
    }

    #movie-description {
        width: 65%;
    }

    #movie-heading {
        margin-top: 120px;
    }

    #img-cover-mobile {
        display: none;
    }

    #img-cover-desktop {
        display: flex;
        height: auto;
        width: 185px;
        margin-bottom: 10px;
        border-radius: .5rem;
        margin-top: 40px;
    }

    .buttons-action-moviepage-mobile {
        display: none;
    }

    .buttons-action-moviepage-desktop {
        display: flex;
    }

    #button-buy, #button-watchlist {
        height: 44px;
        font-size: 18px;
    }

    .movie-cover-and-buttons-desktop {
        position: absolute;
        right: 1rem;
        top: 115px;
    }
}

@media (min-width: 768px) {
    #movie-heading, .movie-description {
        width: 542px;
    }

    #movie-heading {
        margin-top: 180px;
        padding: 0;
        font-size: 26px;
    }
}

@media (min-width: 882px) {
    .main-movie-page {
        margin: 0 56px;
    }

    #img-cover-desktop, .buttons-action-moviepage-desktop {
        width: 220px;
    }

    .movie-cover-and-buttons-desktop {
        top: 120px;
    }
}

@media (min-width: 1024px) {
    #img-cover-desktop {
        height: auto;
        width: 220px;
    }

    .buttons-action-moviepage-desktop div {
        width: 220px;
    }

    .movie-description {
        width: 622px;
        font-size: 18px;
        margin-bottom: 24px;
    }

    #movie-heading {
        font-size: 32px;
        margin-top: 224px;
        width: 662px;
    }
}

@media (min-width: 1280px) {
    .main-movie-page {
        margin: 0 78px;
    }

    .movie-section {
        margin-bottom: 8rem;
    }

    #movie-heading {
        margin-top: 298px;
    }

    .movie-description {
        padding: 22px 0;
    }

    #img-cover-desktop {
        height: auto;
        width: 269px;
        margin-right: 62px;
        margin-top: 86px;
    }

    .buttons-action-moviepage-desktop {
        width: 269px;
    }
}

@media (min-width: 1536px) {

    .main-movie-page {
        margin: 0 160px;
    }

    #movie-heading {
        margin-top: 360px;
        font-size: 38px;
        width: 780px;
    }

    .movie-description {
        font-size: 20px;
        width: 780px;
    }

    .movie-details {
        padding-top: 28px;
        padding-bottom: 28px;
    }

    #img-cover-desktop {
        height: auto;
        width: 360px;
        margin-right: 144px;
        margin-top: 86px;
    }

    .buttons-action-moviepage-desktop {
        width: 360px;
    }
}
