@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;600&family=Ubuntu:wght@300;500;700&display=swap');

:root {
    --primary: #131313;
    --secondary: #FFB800;
    --tertiary: #C2C2C2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    color: #ffffff;
    background-color: var(--primary);
}

a {
    text-decoration: none;
}